  h1{
    background-color: aquamarine;
  }
   body{
    background-color: rgb(252, 255, 193);
   }
   hr{
    border: dashed solid double;
    height: 20px;
    color: black ;
   }
   thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
   th,
  td {
    border: 1px solid rgb(79, 96, 183);
    padding: 8px 10px;
  }
   td:last-of-type {
    text-align: center;
  }
   tbody{
    background-color: rgb(255, 255, 255);
   }